.main-container {
  background-color: #dbeafe;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 12vh;
  width: 100%;
  align-items: center;
  padding-left: 3vw;
}

.logo {
  height: 8vh;
  margin-right: 2vw;
}

.title {
  font-family: Bree Serif;
}
